{% extends 'base.html' %}
{% block content %}
{% load static %}

  <div class="inner-banner">
    <section class="w3l-breadcrumb text-left">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li><a href="index">Home</a></li>
          <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> About Us</li>
        </ul>
      </div>
    </section>
  </div>


  <section class="w3l-index3" id="about1">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
	  <div style="margin: 8px auto; display: block; text-align:center;">


 
</div>
        <div class="row">
          <div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
            <img src="{% static 'images/ab1.jpg' %}" alt="" class="radius-image-full img-fluid">
          </div>
          <div class="col-lg-6 pl-lg-5 ">
            <div class="header-title">
              <h5>  <span style="color: #f35b04;"><b>About Us</b></span></h5>
              <h3 class="hny-title text-left">Learn at Your Own Place</h3>
          </div>
           
            <p class="mt-3">We move towards progress consistently. Our nature of channelizing our minds to reap innovative ways of thinking and 
              using it in our work keeps us at the forefront. Our never give-up mindset underpins our vision to serve you with services that 
              enjoy top spot in the ever-growing digital world.</p>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="w3l-servicesblock py-5" id="about">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6 about-right-faq align-self mb-lg-0 mb-sm-5 mb-4 pr-lg-5">
            <div class="header-title mb-md-5 mb-4">
              <h5>  <span style="color: #f35b04;"><b>Why Choose Us</b></span></h5>
              <h3 class="hny-title text-left">We do not believe build clients we believe in building partner in the image of client!
 
              </h3>
          </div>
            <div class="two-grids mt-md-0 mt-md-5 mt-4">
                <div class="grids_info">
                    <h4>Our Mission</h4>
                    <p class="">Our team are our base to stand. Not as employees, they are a valuable branch of our organizational tree to make valuable our wood. We don’t trust in differentiation but give equality & future growth to turn into their best career.</p>
                </div>
                <div class="grids_info">
                    <h4>Our Vision</h4>
                    <p class="">Our vision is to clear to create Eco business platform to full fill every single requirement on single platform of WHITE NET GROUP.</p>
                </div>
            </div>
        </div>
            <div class="col-lg-6 left-wthree-img mt-lg-0 mt-4">
                <img src="{% static 'images/ab4.jpg' %}" alt="" class="img-fluid radius-image">
            </div>
           
           
        </div>
    </div>
</section>

  <section class="w3l-skills" id="skills">
    <div class="midd-w3 py-5">
      <div class="container py-lg-5 py-md-3">
        <div class="row">
          <div class="col-lg-6 pr-lg-5 mb-lg-0 mb-5">
            <img src="{% static 'images/ab5.jpg' %}" alt="" class="radius-image-full img-fluid">
          </div>
          <div class="col-lg-6">
            <div class="header-title mb-4">
              <h5>  <span style="color: #f35b04;"><b>Our Courses</b></span></h5>
              <h3 class="hny-title text-left">Enhance your skills with best Online courses
 
              </h3>
          </div>
          
            <p>As we are expert to follow corporate pattern with keeping our eyes on new update and up-gradation in technology and work on live project on client demands.

              Our Trainees take benefits of working on live client project to show their work and ability to world with confidence.</p>
            <div class="skills-bars mt-4">
              <div class="progress-info">
                <h6 class="progress-tittle">Python</h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%"
                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
              <div class="progress-info">
                <h6 class="progress-tittle">Java
                </h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 95%"
                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
              <div class="progress-info">
                <h6 class="progress-tittle">Php</h6>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%"
                    aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>

            </div>
          </div>
       
        </div>
      </div>

    </div>
  </section>
  <div style="margin: 8px auto; display: block; text-align:center;">


 
</div>
  
  <section class="w3l-form-25-section" id="subscribe">

    <div class="form-25-mian">
      <div class="container py-5">
        <div class="row subscription-grids py-5">
          <div class="col-lg-7 subscription-left forms-25-info">
            <div class="header-title">
              <h3 class="p-0">The greatest choice of courses
              </h3>
            </div>
          </div>
          <div class="col-lg-5 subscription-right pl-lg-5 mt-lg-0 mt-4 text-lg-right">
            <a href="signup" class="btn btn-style btn-white mr-lg-4 mr-sm-3"> Join Now <span
              class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
  </section>
  

  <br>

        </div>
      </div>
  </section>
  
<div style="margin: 8px auto; display: block; text-align:center;">

 
</div>
  {% include "footer.html"%}


  <section class="w3l-copyright">
      <div class="container">
          <div class="row bottom-copies">
             

              <div class="col-lg-4 footer-list-29">
                  <ul class="d-flex text-lg-right justify-content-center mt-lg-0 mt-3">
                      <li><a href="#careers"> Careers</a></li>
                      <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
                      <li><a href="contact.html">Contact us</a></li>
                  </ul>
              </div>

          </div>
      </div>

    


{% endblock %}