
<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                    <div class="footer-logo mb-3">
                        <a class="navbar-brand" href="index.html">CoderKing</a>
                    </div>
                    <p>We Believe in Innovation</p>
                    <div class="main-social-footer-29 mt-4">
                        <a href="https://www.facebook.com/White-NET-Group-104321585383301" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="https://twitter.com/g_whitenet" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="https://www.instagram.com/whitenet_group/" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="https://www.linkedin.com/in/white-net-group-7a8428224/" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">

                    <ul>
                        <h6 class="footer-title-29">Usefull Links</h6>
                        <li><a href="about">About Us</a></li>
                        <li><a href="services">Courses</a></li>
                        
                       
                        
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">More Info</h6>
                    <ul>
                       
                        <li><a href="about">Vision & Values</a></li>
                        <li><a href="contact">Contact us</a></li>
                        
                    </ul>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Contact Info </h6>
                   <p> <strong>Address :</strong></p>
                        <p> Fourth Floor, A-35 ,Phase-1, Indore. Pin-452001</p>
                        <p class="my-2"><strong>Phone :</strong> <a href="tel:120-4108782">LN-731-4430491</a></p>
                        <p><strong>Email :</strong> <a href="mailto:Sales@whitenetgroup.com">Sales@coderking.com</a></p>
                        <p>----------------------------------------------------</p>
                    <p>Shanti height Fourth floor, Phase-1, SriKrishna Avenue, Indore. Pin-452001.</p>
                    <p class="my-2"><strong>Phone :</strong> <a href="tel:7379777419">9525636721</a></p>
                        <p><strong>Email :</strong> <a href="mailto:Admin@whitenetgroup.com">Admin@coderking.com</a></p>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>
