{% extends 'base.html' %}
{% block content %}
{% load static %}
	<div class="inner-banner">
		<section class="w3l-breadcrumb text-left">
			<div class="container">
				<ul class="breadcrumbs-custom-path">
					<li><a href="index">Home</a></li>
					<li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Internship Training</li>
				</ul>
			</div>
		</section>
	</div>
  

	<section class="w3l-index3" id="about1">
		<div class="midd-w3 py-5">
			<div class="container py-lg-5 py-md-3">
				<div style="margin: 8px auto; display: block; text-align:center;">
				</div>
				<div class="row">
					<div class="col-lg-6 mb-lg-0 mb-md-5 mb-4">
						<img src="{% static 'images/internship.jpg' %}" alt="" class="radius-image-full img-fluid">
					</div>
					<div class="col-lg-6 pl-lg-5 ">
						<div class="header-title">
							<h3 class="hny-title text-left">What is Internship Training ?</h3>
						</div>
						<p class="mt-3"> Under the Internship Training programme, an educational or a vocational institute enters into an arrangement 
						with the industrial enterprises to provide experiential knowledge to their students.</p><br>
						<p>Simply, the training conducted to offer a practical knowledge to the students, lasting for few months, is called as the internship training. 
						These trainings are conducted for such courses viz. Engineering, Medical, Management, etc., wherein the advanced theoretical knowledge
						is to be backed up by the practical experience of the job.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
  
	<section class="w3l-servicesblock py-5" id="about">
		<div class="container py-lg-5 py-md-3">
			<div class="row">
				<div class="col-lg-6 about-right-faq align-self mb-lg-0 mb-sm-5 mb-4 pr-lg-5">
					<div class="header-title mb-md-5 mb-4">
						<h3 class="hny-title text-left">Why Choose</h3>
					</div>
					<p>Usually, the internship training lasts for few months and can either be paid or unpaid. The amount received while training is called as the “stipend.” The internship training is beneficial for an organization because they get the cheap labor for their extra work, viz. Printing, scanning, dispatching of documents.</p><br>
					<p>However, an internship programme holds an equal importance for a student because through this training they can realize which career is suitable for them. And often, the companies offer pre-placement offers to the interns on the basis of their efficiency for performance. Thus, the internship programmes do offer the employment opportunities.</p>
				</div>
				<div class="col-lg-6 left-wthree-img mt-lg-0 mt-4">
					<img src="{% static 'images/internship1.jpg' %}" alt="" class="img-fluid radius-image">
				</div>
			</div>
		</div>
	</section>

	<div style="margin: 8px auto; display: block; text-align:center;">
	</div>

	<section class="w3l-form-25-section" id="subscribe">
		<div class="form-25-mian">
			<div class="container py-5">
				<div class="row subscription-grids py-5">
					<div class="col-lg-7 subscription-left forms-25-info">
						<div class="header-title">
							<h3 class="p-0">The greatest choice of courses</h3>
						</div>
					</div>
					<div class="col-lg-5 subscription-right pl-lg-5 mt-lg-0 mt-4 text-lg-right">
						<a href="signup" class="btn btn-style btn-white mr-lg-4 mr-sm-3"> Join Now <span class="fa fa-chevron-right ml-2" aria-hidden="true"></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div style="margin: 8px auto; display: block; text-align:center;">
	</div>
	{% include "footer.html"%}
	<section class="w3l-copyright">
		<div class="container">
			<div class="row bottom-copies">
				<div class="col-lg-4 footer-list-29">
					<ul class="d-flex text-lg-right justify-content-center mt-lg-0 mt-3">
						<li><a href="#careers"> Careers</a></li>
						<li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
						<li><a href="contact.html">Contact us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

{% endblock %}