{% extends 'base.html' %}
{% block content %}
{% load static %}
	<div class="inner-banner">
		<section class="w3l-breadcrumb">
			<div class="container">
				<ul class="breadcrumbs-custom-path">
					<li><a href="services">Courses</a></li>
					<li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Php</li>
				</ul>
			</div>
		</section>
	</div>
	<br><br> 
	<div class="container">
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0 d-inline">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<strong> Syllabus For PHP</strong>
						</button>
					</h5>
				</div>
				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body" id="child1">
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneA">Chapter 1: PHP</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneA">
								<ol>
									<li>1.  PHP Introduction</li>
									<li>2.  PHP Variables</li>
									<li>3.  PHP Variable Scope</li>
									<li>4.  PHP Global Keyword</li>
									<li>5.  PHP Static Keyword</li>
									<li>6.  PHP Echo vs Print</li>
									<li>7.  PHP Data Types</li>
									<li>8.  PHP Objects</li>
									<li>9.  PHP Strings</li>
									<li>10. PHP Constants</li>
									<li>11. PHP Operators</li>
									<li>12. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneB">Chapter 2: PHP Statements</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneB">
								<ol>
									<li>13. Conditional Statements</li>
									<li>14. Looping Statements</li>
									<li>15. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneC">Chapter 3: PHP -Arrays & Functions
							</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneC">
								<ol>
									<li>16. Introduction of Arrays</li>
									<li>17. Multidimensional Arrays</li>
									<li>18. Sorting Arrays</li>
									<li>19. Associative Arrays</li>
									<li>20. Defining Functions</li>
									<li>21. Function Parameters</li>
									<li>22. Built-in Functions</li>
											<ol>
											<li>1. Math Functions</li>
											<li>2. String Functions</li>
											<li>3. Array Functions</li>
											</ol>
									<li>23. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneD">Chapter 4: PHP – Forms</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneD">
								<ol>
									<li>24. Forms – Introduction</li>
									<li>25. POST vs GET Basics</li>
									<li>26. Form Required Fields</li>
									<li>27. Checking for Form Submission</li>
									<li>28. Extracting Information from form</li>
									<li>29. Validating The Form Values</li>
									<li>30. External Page Submission</li>
									<li>31. Practice Exercises</li>
									</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneE">Chapter 5: PHP – Databases</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneE">
								<ol>
									<li>32. Introduction to PHPmyadmin</li>
									<li>33. Creating a Database in PHPmyadmin</li>
									<li>34. Creating Tables and Inserting Data in PHPmyadmin</li>
									<li>35. Connecting to the Database using PHP</li>
									<li>36. Creating Records into the database table with PHP</li>
									<li>37. Reading Information in the Database with PHP</li>
									<li>38. Creating the Update Records Form</li>
									<li>39. Delete Records from Database with PHP</li>
									<li>40. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
								<div class="card-header">
									<a href="#" data-toggle="collapse" data-target="#collapseOneF">Chapter 6: PHP – Object Oriented Programming
									</a>
								</div>
								<div class="card-body collapse" data-parent="#child1" id="collapseOneF">
									<ol>
										<li>41. What is OOP?</li>
										<li>42. PHP – Classes & Objects</li>
										<li>43. PHP – Constructor</li>
										<li>44. PHP – Destructor</li>
										<li>45. PHP – Access Modifiers</li>
										<li>46. PHP – Inheritance</li>
										<li>47. PHP – Constants</li>
										<li>48. PHP – Abstract Classes</li>
										<li>49. PHP – Interfaces</li>
										<li>50. PHP – Traits in PHP</li>
										<li>51. PHP – Static Methods</li>
										<li>52. PHP – Namespaces</li>
										<li>53. PHP – Iterables in PHP</li>
										<li>54. Practice Exercises</li>
									</ol>
								</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneG">Chapter 7: PHP Advanced – Files
								</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneG">
								<ol>
									<li>55. PHP – Date and Time</li>
									<li>56. PHP – Include</li>
									<li>57. PHP – File Handling</li>
									<li>58. PHP – Opening a File</li>
									<li>59. PHP – Reading a File</li>
									<li>60. PHP – Creating a File</li>
									<li>61. PHP – Writing a File</li>
									<li>62. PHP – Upload</li>
									<li>63. Practice Exercises</li>

								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneH">Chapter 8: PHP Advanced – State Management
								</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneH">
								<ol>
									<li> 64. Cookies in PHP</li>
									<li>65. Setting Cookies with PHP</li>
									<li>66. Reading Cookies in PHP</li>
									<li>67. How to use sessions in PHP</li>
									<li>68. Setting & Destroying sessions in PHP</li>
									<li>69. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
								<div class="card-header">
									<a href="#" data-toggle="collapse" data-target="#collapseOneI">Chapter 9: PHP Advanced – MVC</a>
								</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneI">
								<ol>
									<li>70. Modules (Modularizing a web Application)</li>
									<li>71. File structure / Code file organization</li>
									<li>72. Design pattern and Introduction</li>
									<li>73. The singleton Patterns</li>
									<li>74. The factory Design patterns</li>
									<li>75. Model / View /Controller Design Pattern implementations</li>
									<li>76. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneJ">Chapter 10: PHP Advanced – Standards</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneJ">
								<ol>
									<li>77. Basic Coding Standards (PSR1, PSR2)</li>
									<li>78. Logger Interface and Standard</li>
									<li>79. Auto loading and auto loading standard</li>
									<li>80. Caching interface and standard</li>
									<li>81. Messaging interface and standard</li>
									<li>82. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneK">Chapter 11: PHP Advanced – Exception Handling</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneK">
								<ol>
									<li> 83. Using Try & Catch blocks</li>
									<li>84. The Exception Object</li>
									<li>85. Multiple Catch Blocks</li>
									<li>86. Default Exception processing</li>
									<li>87. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneL">Chapter 12: PHP Advanced – Error Handling and Debugging Techniques</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneL">
								<ol>
									<li> 88. PHP Error Handling</li>
									<li>89. Error Logging and Reporting</li>
									<li>90. Creating Custom Error Handlers</li>
									<li>91. Suppressing Errors</li>
									<li>92. PHP Debugging Methods</li>
									<li>93. Using Debugging Tools (xdebug)</li>
									<li>94. Creating Conditional Debug Code</li>
									<li>95. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneM">Chapter 13: PHP Laravel Framework – Introduction</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneM">
								<ol>
									<li> 96. Introduction to Laravel</li>
									<li>97. Concept of Composer</li>
									<li>98. Install & Use of Composer</li>
									<li>99. Installing Laravel using composer</li>
									<li>100. Install & Use of Open Source distributed version control system GIT</li>
									<li>101. Concept & Use of git lab for hosting GIT repositories</li>
									<li>102. Configuring Laravel</li>
									<li>103. Project Structure</li>
									<li>104. Setting up a Development and Debugging Tools</li>
									<li>105. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneN">Chapter 14: PHP Laravel Framework – Laravel Architectural</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneN">
								<ol>
									<li> 106. Request Life cycle</li>
									<li> 107. Gives knowledge of how Laravel actually works.</li>
									<li> 108. Façade</li>
									<li> 109. Provides an easy way of accessing application class and libraries.</li>
									<li> 110. Service Providers in Laravel</li>
									<li> 111. Service providers are the central place of all Laravel applications bootstrapping.</li>
									<li> 112. Practice Exercises</li>
									</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneO">Chapter 15: PHP Laravel Framework – Routing
							</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneO">
								<ol>
									<li> 113. Basic Routing</li>
									<li> 114. Named Routing</li>
									<li> 115. Grouped Routing</li>
									<li> 116. Routing Parameters</li>
									<li> 117. Handling Invalid Routes</li>
									<li> 118. Route filtering with Middleware</li>
									<li> 119. Restful Routing</li>
									<li> 120. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneP">Chapter 16: PHP Laravel Framework – Controllers</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneP">
								<ol>
									<li> 121. Introduction</li>
									<li>122. Basic Controllers</li>
									<li>123. Restful Resource Controllers</li>
									<li>124. Controller Routing</li>
									<li>125. Controller Middleware</li>
									<li>126. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneQ">Chapter 17: PHP Laravel Framework – Request and Response</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneQ">
								<ol>
									<li> 127. Handling Request Info</li>
									<li>128. Request Inputs</li>
									<li>129. Form Inputs</li>
									<li>130. Old Inputs</li>
									<li>131. Files</li>
									<li>132. Attach Headers and Cookie to respond</li>
									<li>133. Response with View</li>
									<li>134. Response with JSON</li>
									<li>135. Response with File</li>
									<li>136. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneR">Chapter 18: PHP Laravel Framework – Database</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneR">
								<ol>
									<li>137. Introduction</li>
									<li>138. Migration</li>
									<li>139. Schema Building</li>
									<li>140. Migration Structure</li>
									<li>141. Running Migration</li>
									<li>142. Writing Migration</li>
									<li>143. Seeding</li>
									<li>144. Database Configuration</li>
									<li>145. Running Raw SQL queries</li>
									<li>146. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneS">Chapter 19: PHP Laravel Framework – Model</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneS">
								<ol>
									<li>147. Eloquent ORM</li>
									<li>148. Defining Model</li>
									<li>149. Retrieving Model</li>
									<li>150. Insert & Update Model</li>
									<li>151. Deleting Model</li>
									<li>152. Eloquent Relationship</li>
									<li>153. One to One</li>
									<li>154. One to Many</li>
									<li>155. Many to Many</li>
									<li>156. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneT">Chapter 20: PHP Laravel Framework – View</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneT">
								<ol>
									<li> 157. Passing data to view</li>
									<li>158. Sharing data to all views</li>
									<li>159. Blade Template Engine</li>
									<li>160. Template Inheritance</li>
									<li>161. Displaying Data</li>
									<li>162. Implement Control Structures</li>
									<li>163. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneU">Chapter 21: PHP Laravel Framework – Forms and HTML Components</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneU">
								<ol>
									<li> 164. Installation</li>
									<li> 165. Generating form</li>
									<li> 166. CSRF Protection</li>
									<li> 167. Form Elements</li>
									<li> 168. Labels</li>
									<li> 169. Text, Text Area, Password & Hidden Fields</li>
									<li> 170. Check-boxes and Radio Buttons</li>
									<li> 171. File Input</li>
									<li> 172. Number Input</li>
									<li> 173. Date Input</li>
									<li> 174. Drop-Down Lists</li>
									<li> 175. Buttons</li>
									<li> 176. Custom Form Macros</li>
									<li> 177. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneV">Chapter 22: PHP Laravel Framework – Services</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneV">
							<ol>
								<li> 178. Authentication our application</li>
								<li>179. Authorization using Policies : Role based panel access</li>
								<li>180. Configuring Auth Library</li>
								<li>181. Creating authentication system using Middleware</li>
								<li>182. Artisan Console</li>
								<li>183. Exception Handling and Error Logging</li>
								<li>184. Mail</li>
								<li>185. Configuring & sending mail</li>
								<li>186. Pagination</li>
								<li>187. Session</li>
								<li>188. Validation</li>
								<li>189. Validation approaches</li>
								<li>190. Validation Rules with associating messages</li>
								<li>191. Custom Rules with associating custom messages</li>
								<li>192. Laravel Socialite: Registration & Login with 3rd party ( FB, Google, Github etc )</li>
								<li>193. Web Pack : Building assets</li>
								<li>194. Practice Exercises</li>
							</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneW">Chapter 23: PHP Laravel Framework – RESTFUL API</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneW">
								<ol>
									<li>195. Concept of API, why and scope of implementation</li>
									<li>196. Restful API setup, Basic project</li>
									<li>197. Tools ~ Postman Tool</li>
									<li>198. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneX">Chapter 24: PHP Laravel Framework – Web Services and Web Hosting						</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneX">
								<ol>
									<li> 199. CPanel</li>
									<li>200. Introduction to FTP</li>
									<li>201. How to use FileZilla, CPanel with examples</li>
									<li>202. Practice Exercises</li>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneY">Chapter 25: PHP Code Igniter Framework</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneY">
								<ol>
								<li> 203. Initial Setup and configuration</li>
									<ol>
									<li>1. Configure Class</li>
									<li>2. Database configure</li>
									<li>3. Explanation of MVC architecture</li>
									</ol>
								<li>204. First CI Application</li>
									<ol>
									<li>1. Loader Class</li>
									<li>2. Libraries</li>
									<li>3. Creating Static Pages</li>
									<li>4. Creating First Controller</li>
									<li>5. Model & view</li>
									</ol>
								<li>205. Code Igniter URLs, URI Routing</li>
									<ol>
									<li>1. Passing Parameters in URLS, URI Class</li>
									</ol>
									<li>206. Reserved Names</li>
									<ol>
									<li>1. About Reserved Names in CI</li>
									</ol>
								<li>207. Auto Loading Functions</li>
								<li>208. Form Handling</li>
									<ol>
									<li>1. Input Class</li>
									<li>2. Form Validation Class</li>
									<li>3. File Uploading Class</li>
									<li>4. Security Class</li>
									<li>5. Page Redirection</li>
									</ol>
								<li>209. Helper Functions</li>
									<ol>
									<li>1. Cookie Helper</li>
									<li>2. Date Helper</li>
									<li>3. Download Helper</li>
									<li>4. URL Helper</li>
									</ol>
								<li>210. Session Handling</li>
									<ol>
									<li>1. Session Class</li>
									</ol>
								<li>211. Database</li>
									<ol>
									<li>1. Database Configuration</li>
									<li>2. Connecting to a Database</li>
									<li>3. Running Queries</li>
									<li>4. Generating Query Results</li>
									<li>5. Query Helper Functions</li>
									<li>6. Field Data</li>
									</ol>
								<li>212. Active Record Class</li>
									<ol>
									<li>1. Selecting Data</li>
									<li>2. Inserting Data</li>
									<li>3. Uploading Data</li>
									<li>4. Deleting Data</li>
									<li>5. Method Chaining</li>
									</ol>
								<li>213. Pagination Class</li>
								<li>214. Email Class</li>
									<ol>
									<li>1. Sending Emails using CI</li>
									<li>2. SMTP</li>
									<li>3. Google</li>
									</ol>
								<li>215. User Agent Class</li>
								<li>216. Encryption Class</li>
									<ol>
									<li>1. Identify User agent and display browser specific view</li>
									</ol>
								<li>217. Zip Encoding Class</li>
									<ol>
									<li>1. Create Zip files</li>
									<li>2. Unzip files</li>
									</ol>
								<li>218. Image Manipulation Class</li>
									<ol>
									<li>1. Resize Image</li>
									<li>2. Aspect Ratio</li>
									</ol>
								</ol>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<a href="#" data-toggle="collapse" data-target="#collapseOneZ">Chapter 26: PHP Yii Framework</a>
							</div>
							<div class="card-body collapse" data-parent="#child1" id="collapseOneZ">
								<ol>
									<li> 219. Introduction to Yii Framework</li>
									<li>220. Understanding MVC Framework</li>
									<li>221. Environment Setup</li>
									<li>222. Understand Application Structure</li>
									<li>223. Creating a Basic Page</li>
									<li>224. Creating a Basic Page Continues</li>
									<li>225. Understanding Yii Controllers</li>
									<li>226. Understanding Routing Structure</li>
									<li>227. Displaying output</li>
									<li>228. What is a Model?</li>
									<li>229. Understanding Views</li>
									<li>230. Understanding Views Continues</li>
									<li>231. Yii Layouts</li>
									<li>232. Routing Yii Framework</li>
									<li>233. Actions Yii Framework</li>
									<li>234. Cookies and Sessions</li>
									<li>235. About File Upload</li>
									<li>236. File Upload Continued</li>
									<li>237. Flash Data Concept</li>
									<li>238. Creating HTML Forms</li>
									<li>239. More on HTML Forms</li>
									<li>240. Database Access</li>
									<li>241. Gii Extension</li>
									<li>242. Controller Generator</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="margin: 8px auto; display: block; text-align:center;">
	</div>
	{% include "footer.html"%}
	<section class="w3l-copyright">
		<div class="container">
			<div class="row bottom-copies">
				<div class="col-lg-4 footer-list-29">
					<ul class="d-flex text-lg-right justify-content-center mt-lg-0 mt-3">
						<li><a href="#careers"> Careers</a></li>
						<li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
						<li><a href="contact">Contact us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}