{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="inner-banner">
      <section class="w3l-breadcrumb">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
           
            <li><a href="services">Courses</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Python</li>
           
          </ul>
        </div>
      </section>
    </div>
 
    <br><br>

   <div class="container">
      <div id="accordion">
          <div class="card">
              <div class="card-header" id="headingOne">
                  <h5 class="mb-0 d-inline">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       <strong> Syllabus For Python</strong>
                      </button>
                   </h5>
                  
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body" id="child1">
                      <div class="card">
                          <div class="card-header">
                              <a href="#" data-toggle="collapse" data-target="#collapseOneA">Chapter 1 : Introduction & Data Structures Basics</a>
                          </div>
                          <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                            <ol>
                              <li>1. Why Python?</li>
                              <li>2. Python Data Types</li>
                              <li>3. Python Numbers</li>
                              <li>4. Variable Assignments</li>
                              <li>5. Strings</li>
                              <ol>
                                <li>1. Indexing and Slicing with Strings</li>
                                <li>2. Properties & Methods</li>
                                <li>3. Print Formatting with Strings</li>
                              </ol>
                             
                              <li>6. Practice Exercises</li>
                        </ol>
                          </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneB">Chapter 2: Data Structures Basics & Operators</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneB">
                          <ol>
                         <li>7. Lists, Tuples, Dictionary, Sets in Python</li>
    <ol>
    <li>1. List Comprehension</li>
    <li>2. Practice Exercises</li>
    </ol>
    <li>8. Operators in Python</li>
    <ol>
    <li>1. Arithmetic Operators</li>
    <li>2. Comparison Operators</li>
    <li>3. Logical Operators</li>
    <li>4. Bitwise Operators</li>
    <li>5. Assignment Operators</li>
    <li>6. Special Operators</li>
    </ol>
    <li>9. Practice Exercises</li>
    
    
                        </ol>
                        </div>
                    </div>
         <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneC">Chapter 3: Python Statements</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneC">
                          <ol>
                         <li>10. Conditional Statements</li>
     <li>11. Transfer Statements</li>
     <li>12. Iterative Statements</li>
     <li>13. Practice Exercises for Python Statements</li>
                        </ol>
                        </div>
                    </div>
        <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneD">Chapter 4: Methods & Functions</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneD">
                          <ol>
                         <li> 14. Introduction to Modules & Functions</li>
      <li>15. def Keyword</li>
      <li>16. *args and **kwargs in Python</li>
      <li>17. Lambda Function in Python</li>
      <li>18. Function Aliasing & Nested Functions</li>
      <li>19. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneE">Chapter 5: Decorators & Generators</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneE">
                          <ol>
                         <li> 20. Decorators in Python</li>
     <li>21. Generators in Python</li>
     <li>22. Practice Exercises for Functions</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneF">Chapter 6: Object Oriented Programming – Introduction
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneF">
                          <ol>
                         <li> 23. Class & Objects</li>
    <li>24. Reference & Self Variables</li>
    <li>25. Constructor</li>
    <li>26. Types of Variables</li>
    <ol>
    <li>1. Local Variables</li>
    <li>2. Static Variables</li>
    <li>3. Instance Variables</li>
    </ol>
    <li>27. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneG">Chapter 7: Object Oriented Programming – Methods</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneG">
                          <ol>
                         <li> 28. Methods Types</li>
    <ol>
       <li>1. Instance Methods</li>
       <li>2. Static Methods</li>
       <li>3. Local Methods</li>
    </ol>
       <li>29. Getter & Setter Methods</li>
       <li>30. Practice Exercises?</li>
                         
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneH">Chapter 8: Object Oriented Programming – Inner Classes & Garbage Collection</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneH">
                          <ol>
                         <li>31. Inner Classes</li>
     <li>32. Garbage Collection</li>
     <li>33. Destructors</li>
     <li>34. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneI">Chapter 9: Object Oriented Programming – Inheritance</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneI">
                          <ol>
                         <li>35. Has-A Relationship</li>
    <li>36. IS-A Relationship</li>
    <li>37. IS-A vs Has-A Relationship</li>
    <li>38. Composition vs Aggregation</li>
    <li>39. Method Resolution Order (MRO)</li>
    <li>40. super() Method</li>
    <li>41. Practice Exercises</li>
    
    </li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneJ">Chapter 10: Object Oriented Programming – Polymorphism</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneJ">
                          <ol>
                         <li> 42. Duck Typing Philosophy of Python </li>
     <li>43. Overloading</li>
     <li>44. Overriding</li>
     <li>45. Practice Exercises</li>
    
    </li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneK">Chapter 11: Packages & Modules
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneK">
                          <ol>
                         <li> 46. Modules</li>
     <li>47. Member aliasing</li>
     <li>48. Reloading Module</li>
     <li>49. Working with math module</li>
     <li>50. Working with random module</li>
     <li>51. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneL">Chapter 12: File Handling</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneL">
                          <ol>
                         <li> 52. Files Introduction & File Object</li>
    <li>53. Handling csv files</li>
    <li>54. Zipping & Unzipping Files</li>
    <li>55. Working with Directories</li>
    <li>56. Pickling and Unpickling of Objects</li>
    <li>57. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneM">Chapter 13: Regular Expressions</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneM">
                          <ol>
                         <li>58. Introduction – Regular Expressions</li>
    <li>59. match() Function</li>
    <li>60. search() Function</li>
    <li>61. Regular Expression Patterns</li>
    <li>62. Practice Exercises for Regular Expressions</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneN">Chapter 14: Python Collections</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneN">
                          <ol>
                         <li> 63. Python Collections Module</li>
    <li>64. Counters in Python</li>
    <li>65. OrderedDict</li>
    <li>66. DefaultDict</li>
    <li>67. ChainMap</li>
    <li>68. NamedTuple</li>
    <li>69. Deque</li>
    <li>70. Head Queue</li>
    <li>71. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneO">Chapter 15: Exception Handling
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneO">
                          <ol>
                         <li>72. Errors & Exception – Introduction</li>
    <li>73. Default Exception Handling</li>
    <li>74. Customized Exception Handling</li>
    <li>75. try with multiple except blocks</li>
    <li>76. Default except block</li>
    <li>77. Finally block</li>
    <li>78. Practice Exercises</li>
    
    
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneP">Chapter 16: Advanced Python Programming – Introduction of Multithreading</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneP">
                          <ol>
                         <li> 79. Creating a Thread</li>
    <li>80. Thread Identification Number</li>
    <li>81. Daemon Threads</li>
    <li>82. Practice Exercises</li>
    
    
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneQ">Chapter 17: Advanced Python Programming – Synchronization</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneQ">
                          <ol>
                         <li> 83. Synchronization by using Lock concept</li>
     <li>84. Difference between Lock & RLock</li></li>
     <li>85. Synchronization by using Semaphore</li>
     <li>86. Bounded Semaphore</li>
     <li>87. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneR">Chapter 18: Advanced Python Programming – Inter Thread Communication
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneR">
                          <ol>
                         <li> 88. Interthread communication by using Event Objects</li>
    <li>89. Interthread communication by using condition Objects</li>
    <li>90. Interthread communication by using Queue Objects</li>
    <li>91. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneS">Chapter 19: Python Libraries –Introduction of NumPy</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneS">
                          <ol>
                         <li> 92. Python NumPy</li>
    <li>93. NumPy array in Python</li>
    <li>94. NumPy – Array creation</li>
    <li>95. The arange Method & Zero Method</li>
    <li>96. The linspace Method & eye Method</li>
    <li>97. Creating one-dimensional NumPy array</li>
    <li>98. Generating 2-D Gaussian array</li>
    <li>99. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneT">Chapter 20: Python Libraries – NumPy Array Manipulation
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneT">
                          <ol>
                         <li>100. Copy & View in NumPy Array</li>
    <li>101. Copy one array to another array</li>
    <li>102. Appending values to NumPy array</li>
    <li>103. Stack the sequence of NumPy array horizontally & Vertically</li>
    <li>104. Joining NumPy array</li>
    <li>105. Combining one & two dimensional NumPy array</li>
    <li>106. Practice Exercisess</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneU">Chapter 21: Python Libraries – Matrix in NumPy
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneU">
                          <ol>
                         <li> 107. Matrix manipulation in Python</li>
    <li>108. NumPy matrix operations | empty() function</li>
    <li>109. NumPy matrix operations | zeros() function</li>
    <li>110. NumPy matrix operations | ones() function</li>
    <li>111. NumPy matrix operations | eye() function</li>
    <li>112. NumPy matrix operations | identity() function</li>
    <li>113. Adding and Subtracting Matrices in Python</li>
    <li>114. Matrix Multiplication in NumPy</li>
    <li>115. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneV">Chapter 22: Python Libraries – Operations on NumPy Array
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneV">
                          <ol>
                         <li>116. Numpy – Binary Operations</li>
     <li>117. Numpy – Mathematical Function</li>
     <li>118. Numpy – String Operations</li>
     <li>119. Split an array into multiple sub-arrays vertically & Horizontally</li>
     <li>120. Basic Slicing and Advanced Indexing in NumPy Python</li>
     <li>121. Get selected slices of an array along mentioned axis</li>
     <li>122. Broadcasting with NumPy Arrays</li>
     <li>123. Numpy – Sorting, Searching and Counting</li>
     <li>124. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneW">Chapter 23: Python Libraries – Working with Images,PDF & Emails
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneW">
                          <ol>
                         <li> 125. Working with Images</li>
    <li>126. Working with PDF</li>
    <li>127. Working with CSV files in Python</li>
    <li>128. Sending & Receiving Emails</li>
    <li>129. Practice Exercises</li>
    
    
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneX">Chapter 24: Python Libraries – Pandas</a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneX">
                          <ol>
                         <li>130. Introduction to Pandas</li>
    <li>131. Creating a Pandas DataFrame</li>
    <li>132. Creating a Pandas series</li>
    <li>133. Dealing with Rows and Columns in Pandas DataFrame</li>
    <li>134. Indexing & Selecting Data with Pandas</li>
    <li>135. Pandas GroupBy</li>
    <li>136. Pandas Merging, Joining and concatenating</li>
    <li>137. Working with date and time using Pandas</li>
    <li>138. Pandas working with Text Data</li>
    <li>139. Practice Exercises</li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneY">Chapter 25: Python Libraries – Tkinter
    
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneY">
                          <ol>
                         <li> 140. Introduction</li>
    
                         <li> 141. Widgets</li>
    <ol>
    
                         <li> 1. Basic Widgets</li>
    
                         <li> 2. Toplevel Widgets</li>
    </ol>
    <li>142. Geometry Management</li>
    <li>143. Binding Functions</li>
    <li>144. Working with Images in Tkinter</li>
    <li>145. Practice Exercises</li>
    </li>
                        </ol>
                        </div>
                    </div>
    <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneZ">Chapter 26: Python MySQL
    </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneZ">
                          <ol>
                         <li> 146. Connect MySQL database using MySQL-Connector</li>
    <li>147. Python MySQL – Create Database</li>
    <li>148. Python MySQL – Create table</li>
    <li>149. Python MySQL – Insert into table</li>
    <li>150. Python MySQL – Select Query</li>
    <li>151. Python MySQL – Where Clause</li>
    <li>152. Python MySQL – Order By Clause</li>
    <li>153. Python MySQL – Delete Query</li>
    <li>154. Python MySQL – Drop table</li>
    <li>155. Python MySQL – Update Query</li>
    <li>156. Python MySQL – Join</li>
                        </ol>
                        </div>
                    </div>
    
    
                  
                  </div>
              </div>
          </div>
          
          </div>
      </div>
    </div><br><br>


    <div style="margin: 8px auto; display: block; text-align:center;">

   
  </div>
  {% include "footer.html"%}
 
    <section class="w3l-copyright">
      <div class="container">
        <div class="row bottom-copies">
         
          <div class="col-lg-4 footer-list-29">
            <ul class="d-flex text-lg-right justify-content-center mt-lg-0 mt-3">
              <li><a href="#careers"> Careers</a></li>
              <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
              <li><a href="contact">Contact us</a></li>
            </ul>
          </div>
  
        </div>
      </div>
  
     
  
  
{% endblock %}