{% extends 'base.html' %}
{% block content %}
{% load static %}
  <div class="inner-banner">
    <section class="w3l-breadcrumb">
      <div class="container">
        <ul class="breadcrumbs-custom-path">
          <li><a href="index">Home</a></li>
          <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Courses</li>
        </ul>
      </div>
    </section>
  </div>

  <section class="w3l-blogpost-content w3l-courses py-5">
    <div class="container py-md-5">
	<div style="margin: 8px auto; display: block;">




  



</div>
      <div class="header-title mb-md-5 mb-4">
        <span class="sub-title">Top Courses</span>
        <h3 class="hny-title text-left"> Popular Courses</h3>
      </div>
	  <div style="margin: 8px auto; display: block; text-align:center;">


 
</div>
      <div class="row">
        <div class="col-lg-4 col-md-6 item">
          <div class="card">
            <div class="card-header p-0 position-relative">

              <a href="html">
                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/html3.jpg' %}" alt="Card image cap">
              </a>
            </div>
            <div class="card-body blog-details">
              <p class="price-review">HTML 5</p>
              HTML is the standard markup language for Web pages.

                With HTML you can create your own Website.
                
                HTML is easy to learn
             
            <br><br>
              <div class="course-meta mt-1">
                <div class="meta-item course-lesson">
                  <span class="fa fa-file-code-o"></span>
                  <span class="meta-value"> 10 Chapters </span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="css">
                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/css.jpg' %}" alt="Card image cap">
              </a>
            </div>
            <div class="card-body blog-details">
              <p class="price-review">CSS</p>
              CSS is the language we use to style an HTML document.

CSS describes how HTML elements should be displayed.
<br><br>
              <div class="course-meta mt-1">
                <div class="meta-item course-lesson">
                  <span class="fa fa-file-code-o"></span>
                  <span class="meta-value"> 20 Chapters </span>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="javas">
                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/javascript.jpeg' %}" alt="Card image cap">
              </a>
            </div>
            <div class="card-body blog-details">
              <p class="price-review">JAVASCRIPT</p>
              JavaScript is the world's most popular programming language.

JavaScript is the programming language of the Web.
<br><br>

              <div class="course-meta mt-1">
                <div class="meta-item course-lesson">
                  <span class="fa fa-file-code-o"></span>
                  <span class="meta-value"> 30 Chapters </span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="card">
            <div class="card-header p-0 position-relative">

              <a href="python">
                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/python.png' %}" alt="Card image cap">
              </a>
            </div>
            <div class="card-body blog-details">
              <p class="price-review">PYTHON</p>
              Python is a popular programming language. Python can be used on a server to create web applications.
              <br><br>
              <div class="course-meta mt-1">
                <div class="meta-item course-lesson">
                  <span class="fa fa-file-code-o"></span>
                  <span class="meta-value"> 10 Chapters </span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="java">
                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/java5.jpg' %}" alt="Card image cap">
              </a>
            </div>
            <div class="card-body blog-details">
              <p class="price-review">JAVA</p>
              Java is a popular programming language.

              Java is used to develop mobile apps, web apps, desktop apps, games and much more.<br><br>
              <div class="course-meta mt-1">
                <div class="meta-item course-lesson">
                  <span class="fa fa-file-code-o"></span>
                  <span class="meta-value"> 25 Chapters </span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="php">
                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/php.jpg' %}" alt="Card image cap">
              </a>
            </div>
            <div class="card-body blog-details">
              <p class="price-review">PHP</p>
              PHP is a popular general-purpose scripting language that is especially suited to web development.

<br><br>
              <div class="course-meta mt-1">
                <div class="meta-item course-lesson">
                  <span class="fa fa-file-code-o"></span>
                  <span class="meta-value"> 25 Chapters </span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="card">
            <div class="card-header p-0 position-relative">
              <a href="sql">
                <img class="card-img-bottom d-block radius-image-full" src="{% static 'images/sql2.jpg' %}" alt="Card image cap">
              </a>
            </div>
            <div class="card-body blog-details">
              <p class="price-review">SQL</p>
              SQL is a standard language for storing, manipulating and retrieving data in databases.<br><br>


              <div class="course-meta mt-1">
                <div class="meta-item course-lesson">
                  <span class="fa fa-file-code-o"></span>
                  <span class="meta-value"> 10 Chapters </span>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>

<br><br>
      <h2>We confidently say "our trainee can compete with 1 year experienced engineer"</h2>
 
  <br>
  <p>A Training program is a lucky opportunity with us for fresher engineer as well as an expert engineer for better growth.</p><br>

  <p>As we are expert to follow corporate pattern with keeping our eyes on new update and up-gradation in technology and work on live project on client demands.</p><br>
  
  Our Trainees take benefits of working on live client project to show their work and ability to world with confidence.<br>

 <br> <h3>Placement (How we do?)</h3><br>

<p>We are incorporated with 50+ MNC’s,1500+ Medium and small Level IT companies and we are expert to create new and up dated module 
depending on Job description of corporate channel partners.</p><br>

<p>Always Corporate demands experienced candidate but we are successful to provide similar ability  and skills by fresher trainees to 
  other IT partners  which helps industries to build profitable deal.</p><br>




     
  </section>
  
  <div style="margin: 8px auto; display: block; text-align:center;">


 
</div>
{% include "footer.html"%}

 
  <section class="w3l-copyright">
    <div class="container">
      <div class="row bottom-copies">
       

        <div class="col-lg-4 footer-list-29">
          <ul class="d-flex text-lg-right justify-content-center mt-lg-0 mt-3">
            <li><a href="#careers"> Careers</a></li>
            <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
            <li><a href="contact">Contact us</a></li>
          </ul>
        </div>

      </div>
    </div>



{% endblock %}