{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="inner-banner">
      <section class="w3l-breadcrumb">
        <div class="container">
          <ul class="breadcrumbs-custom-path">
           
            <li><a href="services">Courses</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Sql</li>
           
          </ul>
        </div>
      </section>
    </div>

    <br><br>



    
    <div class="container">
      <div id="accordion">
          <div class="card">
              <div class="card-header" id="headingOne">
                  <h5 class="mb-0 d-inline">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       <strong> Syllabus For SQL</strong>
                      </button>
                   </h5>
                  
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body" id="child1">
                      <div class="card">
                          <div class="card-header">
                              <a href="#" data-toggle="collapse" data-target="#collapseOneA">Chapter 1: Basic Data types </a>
                          </div>
                          <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                            <ol>
                            <li>1.SQL Data Types</li>
							<li>2.Primary Keys</li>
							<li>3.Null values and Not Null Values</li>
							<li>4.Auto Increment </li>
                        </ol>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header">
                              <a href="#" data-toggle="collapse" data-target="#collapseOneB">Chapter 2: Basic Query </a>
                          </div>
                          <div class="card-body collapse" data-parent="#child1" id="collapseOneB">
                            <ol>
								<li> 1.Use the Where clause</li>
								<li> 2.Conditional statements</li>
								<li> 3.Multiple conditions</li>
								<li> 4.Comparison Operators</li>
								<li> 5.Logic Values</li>
								<li> 6.Null Values</li>
								<li> 7.Patterns also known as Wildcard characters</li>
								<li> 8.Compare Column Values </li>
                        </ol>
                          </div>
                      </div>
                      <div class="card">
                        <div class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapseOneC">Chapter 3: Advanced Queries </a>
                        </div>
                        <div class="card-body collapse" data-parent="#child1" id="collapseOneC">
                          <ol>
							<li>1. Distinct Values</li>
							<li>2. Top Values</li>
							<li>3. Date Functions</li>
							<li>4. Date Calculations</li>
							<li>5. Aggregate Functions</li>
							<li>6. String Functions</li>
							<li>7. Sort Data</li>
							<li>8. Rank Data</li>
                        </ol>
                        </div>
                    </div>
                    <div class="card">
                      <div class="card-header">
                          <a href="#" data-toggle="collapse" data-target="#collapseOneD">Chapter 4:Data Wrangling </a>
                      </div>
                      <div class="card-body collapse" data-parent="#child1" id="collapseOneD">
                          <ol>
							 <li> 1.Group Data</li>
							 <li> 2.Filtering Grouped Data</li>
						     <li> 3.Summarize Group Data</li>
						     <li> 4.Pivot and Unpivot Operators</li>
							 <li> 5.Data Analytics</li>
							 <li> 6.Joins</li>
							 <li> 7.Inner Join</li>
							 <li> 8.Left Join</li>
							 <li> 9.Full Outer Join</li>
							 <li> 10. Self-Join</li>
							 <li> 11. Unions</li>
							 <li> 12. Except and Intersect </li>
                         
                        </ol>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header">
                          <a href="#" data-toggle="collapse" data-target="#collapseOneE">Chapter 5:Locks and Transactions</a>
                      </div>
                      <div class="card-body collapse" data-parent="#child1" id="collapseOneE">
                          <ol>
							 <li> 1.Exclusive Table Locks</li>
							 <li> 2.Shared Table Locks</li>
						     <li> 3.Using Variables</li>
						     <li> 4.Setting Variables with Selects</li>
							 <li> 5.Select/Update Example</li>
							 <li> 6.Simple Transactions</li>
                        </ol>
                      </div>
                  </div>
				  
				   <div class="card">
                      <div class="card-header">
                          <a href="#" data-toggle="collapse" data-target="#collapseOneF">Chapter 6:MySQL Functions</a>
                      </div>
                      <div class="card-body collapse" data-parent="#child1" id="collapseOneF">
                          <ol>
							 <li> 1.String to Date and Date Format</li>
							 <li> 2.Control Flow Functions</li>
						     <li> 3.Casting Functions</li>
						     
                        </ol>
                      </div>
                  </div>
				  
				  
				  <div class="card">
                      <div class="card-header">
                          <a href="#" data-toggle="collapse" data-target="#collapseOneG">Chapter 7:Stored Procedures</a>
                      </div>
                      <div class="card-body collapse" data-parent="#child1" id="collapseOneG">
                          <ol>
							 <li> 1.Introduction to Stored Procedures</li>
							 <li> 2.Changing the Delimiter</li>
						     <li> 3.Editing a Stored Procedure</li>
						     <li> 4.Variable Scope</li>
						     <li> 5.A Data Generating Procedure</li>
					     
                        </ol>
                      </div>
                  </div>
				  
				  
				  <div class="card">
                      <div class="card-header">
                          <a href="#" data-toggle="collapse" data-target="#collapseOneH">Chapter 8:Triggers</a>
                      </div>
                      <div class="card-body collapse" data-parent="#child1" id="collapseOneH">
                          <ol>
							 <li> 1.Introduction to Triggers</li>
							 <li> 2.	Validating Triggers</li>
						     <li> 3.	Triggers and Transactions</li>
                        </ol>
                      </div>
                  </div>
				  
				  <div class="card">
                      <div class="card-header">
                          <a href="#" data-toggle="collapse" data-target="#collapseOneI">Chapter 9:User Defined Functions</a>
                      </div>
                      <div class="card-body collapse" data-parent="#child1" id="collapseOneI">
                          <ol>
							 <li> 1.Functions vs Procedures</li>
							 <li> 2.User-Defined Functions</li>
                        </ol>
                      </div>
                  </div>
				  
                  </div>
              </div>
          </div>
          
          </div>
      </div>
    </div><br><br>


    <div style="margin: 8px auto; display: block; text-align:center;">
  

   
  </div>
  {% include "footer.html"%}
  
  
    <section class="w3l-copyright">
      <div class="container">
        <div class="row bottom-copies">
         
  
          <div class="col-lg-4 footer-list-29">
            <ul class="d-flex text-lg-right justify-content-center mt-lg-0 mt-3">
              <li><a href="#careers"> Careers</a></li>
              <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
              <li><a href="contact">Contact us</a></li>
            </ul>
          </div>
  
        </div>
      </div>
  

  
  
{% endblock %}